body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.container{
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  margin-left: 30%;
  margin-top: 10%;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}

.header{
  font-family: Georgia;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-warning{
  display: inline-block;
  background: rgb(228, 194, 0);
  color: rgb(10, 10, 10);
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 25px 0px 0px 125px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
  width: 180px;
}

.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:active{
  transform: scale(0.99);
}

.customer{
  background: #f4f4f4;
  margin: 5px;
  padding: 2px 15px 2px 20px;
  cursor: pointer;
}

.customer h3{
  display: flex;
  justify-content: space-between;
}

.edit{
  margin-left: 65%;
}

.add-form{
  margin-bottom: 10%;
  margin-left: 5%;
}

.form-control{
  margin: 5% 25% 0 10%;
}

.form-control label{
  display: block;
}

.form-control input{
  width: 100%;
  height: 40px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 3px;
  border: 1px solid grey;
}

#add{
  margin: 5% 0 0 25%;
  width: 200px;
}
